

@using Madplan.WebSite.Controllers.SurfaceControllers
@using Madplan.WebSite.Models
@model UserDataModel

@using(Html.BeginUmbracoForm<UserDataSurfaceController>("HandleUserData") )
    {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserDataModel</legend>

        
		<div class="editor-label">
            @Html.LabelFor(model => model.Id)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>
        
		<div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>
        
		<div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Height)
            @Html.ValidationMessageFor(model => model.Height)
        </div>
        
		<div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}